@import "tailwindcss";

@theme {
  --font-sans: "Gulim", "굴림", Dotum, "굴림", sans-serif;
}

@layer base {
  :root {
    --app-font-family: "Gulim", "굴림", Dotum, "돋움", sans-serif;
    --app-font-size: 11px;
  }
  html {
    font-size: var(--app-font-size);
  }
  body {
    font-family: var(--app-font-family);
    font-size: 1rem;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-slate-900;
  }
}
